@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sono&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Sono', sans-serif;
}

header {
    background-color: rgba(218, 165, 32, 0.301);
}

main {
    margin-bottom: 30px;
    padding: 16px;
}

footer {
    margin-top: 0px;
    padding: 24px 0px;
    position:relative;
    bottom: 5px;
    background-color: goldenrod;
    text-align: center;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    color: darkgoldenrod;
    text-decoration: none;
}

a:hover {
    color: rgba(3, 60, 3, 0.838);
    text-decoration: underline;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* .recipes-grid {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
} */

tr:nth-child(even) {
    background-color: rgba(23, 120, 18, 0.373);
    background-color: rgba(218, 165, 32, 0.452);
}

.container {
    width:98%; 
    margin:1%;
  }

.ingredients {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:300px;
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.369);
}

.table-head {
    background-color: rgba(128, 128, 128, 0.459);
}

#main-title {
    text-align: center;
}

#main-subtitle {
    text-align: center;
}

.recipe-title {
    text-align: center;
}

.recipe-img {
    text-align: center;
}

.recipe-subheading {
    text-align: center;
}

.instructions {
    list-style: circle;
    margin-left: 20%;
    margin-right: 20%;
}